manifest {
    name = 'CAME'
    description = 'Comparative Analysis of Multi-omics Evolution'
    nextflowVersion = '>=22.10.0'
}

process {
    executor = 'local'

    withLabel: process_low {
        cpus = 1
        memory = '4 GB'
        time = '1h'
    }
    withLabel: process_medium {
        cpus = 4
        memory = '16 GB'
        time = '6h'
    }
    withLabel: process_high {
        cpus = 8
        memory = '32 GB'
        time = '12h'
    }
    withLabel: process_star_index {
        cpus = 8
        memory = '32 GB'
        time = '24h'
    }
    withLabel: process_star_align {
        cpus = 8
        memory = '32 GB'
        time = '12h'
    }
    withLabel: process_bowtie2_align {
        cpus = 8
        memory = '16 GB'
        time = '8h'
    }
    withLabel: process_bwa_mem2_index {
        cpus = 8
        memory = '16 GB'
        time = '12h'
    }
    withLabel: process_bwa_mem2_align {
        cpus = 8
        memory = '32 GB'
        time = '24h'
    }
    withLabel: process_variant_calling {
        cpus = 4
        memory = '16 GB'
        time = '24h'
    }
    withLabel: process_peak_calling {
        cpus = 4
        memory = '16 GB'
        time = '6h'
    }
    withLabel: process_counting {
        cpus = 4
        memory = '16 GB'
        time = '6h'
    }
}

params {
    validate_only = false
    run_stage = 'validation'
    normalization = 'none'
    phylo_model_types = 'lm,pgls_brownian'
    hypothesis_model_types = ''
    omics_types = 'rnaseq,atacseq'
    omics_stub = true
    omics_mode = null
    rna_backend = 'star'
    atac_backend = 'bowtie2'
    peak_caller = 'macs3'
    atac_replicate_concordance = 'none'
    container_image = null
    came_version = new File("${projectDir}/VERSION").exists() ? new File("${projectDir}/VERSION").text.trim() : '0.1.0'
    default_container_image = "ghcr.io/funcomicscnb-cpu/came:${params.came_version}"
    list_stages = false
    real_fail_on_missing_tools = true
    real_require_paired_atac = false
    threads = 8
    max_memory = '16 GB'
    reference_cache_dir = null
    check_paths = false
    validation_strict = false
    reference_quality_strict = false
    allow_low_quality_reference = false
    reference_quality_assay = 'rna,atac'
    wgs_samplesheet = 'assets/example_samplesheets/wgs_samplesheet.csv'
    wgs_mode = 'stub'
    wgs_variant_mode = 'haplotypecaller'
    wgs_calling_mode = 'per_sample'
    wgs_filtering_mode = 'hard_filter'
    require_known_sites = false
    allow_no_bqsr = true
    reference_prepare_config = 'assets/example_samplesheets/reference_prepare_config.tsv'
    reference_stub = true
    regulatory_regions = 'assets/example_samplesheets/regulatory_regions.tsv'
    genome_alignment_manifest = 'assets/example_samplesheets/genome_alignment_manifest.tsv'
    coordinate_projection_config = 'assets/example_samplesheets/coordinate_projection_config.tsv'
    coordinate_projection_stub = true
    gene_coordinates = 'assets/example_samplesheets/gene_coordinates.tsv'
    chromatin_contacts = 'assets/example_samplesheets/chromatin_contacts.tsv'
    re_to_gene_inference_config = 'assets/example_samplesheets/re_to_gene_inference_config.tsv'
    re_to_gene_inference_stub = true
    advanced_model_config = 'assets/example_samplesheets/advanced_model_config.tsv'
    advanced_statistics_stub = true
    enable_real_mode_validation = false
    real_mode_metadata = null
    rnaseq_counts = null
    atacseq_counts = null
    differential_expression = null
    differential_accessibility = null
    orthologous_genes = null
    orthologous_res = null
    gene_orthogroup_counts = null
    re_orthogroup_counts = null
    feature_to_orthogroup_map = null
    differential_expression_orthogroups = null
    differential_accessibility_orthogroups = null
    phenotype_index_contrasts = null
    component_trait_contrasts = null
    differential_gra_activity = null
    hypothesis_model_results = null
    gene_regulatory_architectures = null
    gra_re_membership = null
    phenotype_expression_associations = null
    phenotype_accessibility_associations = null
    phenotype_gra_associations = null
    response_clusters_expression = null
    response_clusters_accessibility = null
    response_clusters_gra_activity = null
    pairwise_species_molecular_contrasts = null
    candidate_scoring_config = null
    candidate_genes = null
    candidate_res = null
    candidate_gras = null
    candidate_all = null
    gene_annotations = 'assets/example_samplesheets/gene_annotations.tsv'
    gene_sets = 'assets/example_samplesheets/gene_sets.tsv'
    functional_interpretation_top_n = 50
    functional_interpretation_min_score = null
    candidate_linked_evidence_weight = 0.5
    candidate_score_cap = 50
    re_to_gene_links = null
    gra_activity_aggregation = 'mean'
    phenotype_response_metric = 'difference'
    molecular_response_metric = 'log2_fold_change'
    phenotype_response_scope = 'index'
    integration_model_types = 'lm,pgls_brownian'
    pgls_min_species = 6
    integration_min_species = null
    integration_cluster_method = 'sign'
    species_pairs = null
    baseline_condition = null
    response_condition = null
    baseline_timepoint = null
    response_timepoint = null
    min_count = 10
    min_total_count = 10
    min_samples_per_group = 1
    alpha = 0.05
    differential_force_fallback = false
    hmmratac_jar = null
    resume_completed_stages = true
    slurm_queue = ''
    slurm_queue_high = ''
    slurm_account = ''
    outdir = 'results'
}

profiles {
    conda {
        conda.enabled = true
        process.conda = "$projectDir/environment/came_environment.yml"
    }
    docker {
        docker.enabled = true
        process.container = params.container_image ?: params.default_container_image
    }
    apptainer {
        apptainer.enabled = true
        process.container = params.container_image ?: params.default_container_image
    }
    singularity {
        singularity.enabled = true
        process.container = params.container_image ?: params.default_container_image
    }
    slurm {
        includeConfig 'conf/slurm.config'
    }
}
