process {
  executor = 'slurm'

  if (params.slurm_queue) {
    queue = params.slurm_queue
  }

  if (params.slurm_account) {
    clusterOptions = "--account=${params.slurm_account}"
  }

  if (params.slurm_queue_high || params.slurm_queue) {
    withLabel: process_high {
      queue = params.slurm_queue_high ?: params.slurm_queue
    }
  }
}
